.ss-content.ss-open-below {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px
}

.ss-main:focus {
  box-shadow: none;
}

/* Flowbite select styles to slim-select */
.slim-select:focus {
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  --tw-shadow: 0 0 #0000;
  border-color: #2563eb;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  outline: 2px solid #0000;
  outline-offset: 2px;
}

/* Makes select field required */
select{
  pointer-events: none;
  opacity: 0;
  display: flex !important;
  position: absolute;
}
